/* ======== Resetting Stales ========*/

body {
    background: #FFF;
    font-family: 'Roboto', sans-serif; 
    color: #434455 ;  
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

button {
    cursor: pointer;
    background: #4D5AE5;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

/*======== Heder======== */

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
}

.main-header {
background: #FFF;
border-bottom: 1px solid #E7E9FC;
}


.logo {
    display: inline-block;
    margin-right: 76px;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-studio {
    color: #2E2F42;
    
}

.menu-link {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.main-address {
    font-style: normal;
   }

.address {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address:hover, 
.address:focus {
    color:#404BBF;
}

.menu-list {
 display: flex;
 gap: 40px;
}

.address-list {
 display: flex;
 gap: 40px;
}

.container-header {
  display: flex;
  align-items: center;
}

/* Section Hero */

.hero {
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)), 
     url(../images/people-office.jpg);
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.hero-button {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 4px;
    min-width: 169px;
    }

.hero-button:hover,
.hero-button:focus {
    background: #404BBF;
}

/* Section Features */

.features {
    background: #FFF;
    }

.features-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    }

.features-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 8px;
}

.features-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.container-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid  #8E8F99;
    background: #F4F4FD;
    width: 264px;
    height: 112px;
    fill: #2E2F42;
    padding: 24px 100px;
    margin-bottom: 8px;
}

/* Section Our Team */

.team-list{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    }

.team {
    background: #F4F4FD;
}

.team-item{
    display: flex;
    gap: 24px;
}

.team-main-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.container-team {
    padding-top: 32px;
    padding-bottom: 32px;
}

/* Section Our Portfilio */

.portfolio {
    background: #FFF;
}

.portfolio-item{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    align-items: flex-start;
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
   
}

.portfolio-main-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    }

.portfolio-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    }

.portfolio-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

/* Footer */

.footer {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    padding-top: 17.5px;
}

.logo-footer {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.logo-footer-main {
    margin-bottom: 16px;
}